<h2>作業に応募する</h2>

<%= form_with model: [@job_post, @job_application], local: true do |f| %>
  <div>
    <%= f.label :message, "応募メッセージ" %>
    <%= f.text_area :message, required: true %>
  </div>

  <div>
    <%= f.submit "応募する", class: "btn btn-primary" %>
  </div>
<% end %>
